<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-warning" href="#">Social</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'home:index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'account:index' %}">Register</a>
            </li>
        </ul>
    </div>
</nav>